<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Danh sách bài hát</h2>
<a href="/music/create-form">Thêm bài hát mới</a>
<table class="table">
  <thead>
  <tr>
    <th>Stt</th>
    <th>Tên bài hát</th>
    <th>Ca sĩ</th>
    <th>Thể loại</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="music,stt :${musicList}">
    <td scope="row" th:text="${stt.count}"></td>
    <td th:text="${music.name}"></td>
    <td th:text="${music.singer}"></td>
    <td th:text="${music.type}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>